body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 65%;
  background: url(/img/404.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
img#bg {
  width: 100%;
  height: 100%;
  z-index: 1;
  }
div.dialog {
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
  z-index: 2;
  }
#back {
  display: block;
  opacity: .4;
  -webkit-transition: .4s opacity ease;
  -o-transition: .4s opacity ease;
  transition: .4s opacity ease;
}
#back img {
  border: none;
}
a:hover#back {
  opacity: .8;
}
h1 {
  margin: 15px 0 0 0;
  padding: 0;
  font-size: 5.5em;
  color: #000;
  color: rgba(0,0,0,.8);
  line-height: 1.5em;
  letter-spacing: -.02em;
}
h2 {
  margin: 0;
  padding: 0;
  font-size: 2.6em;
  font-weight: normal;
  color: #666;
  color: rgba(0,0,0,.5);
  line-height: 1.1em;
}
p {
  font-size: 1.6em;
  color: rgba(0,0,0,.5);
}
p a {
  color: rgba(0,0,0,.7);
}
p a:hover {
  color: rgba(0,0,0,.9);
}
