@charset "utf-8";

* {
	margin:0;
	padding:0;
}

/** General Style Info **/
body {
 background: #C95049;
	color: #000000;
	font-family:helvetica,arial,sans-serif;
	font-size:90%;
	margin: 0;
}
a {
	color: #003d4c;
	text-decoration:none;
}
a:hover {
	color: #FFFFFF;
	text-decoration:underline;
}
a img {
	border:none;
}
h1, h2, h3, h4 {
	font-weight: normal;
	margin-bottom:0.5em;
}
h1 {
	color: #003d4c;
	font-size: 100%;
}
h2 {
	color: #e32;
	font-family: helvetica, arial, sans-serif;
	font-size: 190%;
}
h3 {
	color: #2c6877;
	font-family:helvetica, arial, sans-serif;
	font-size: 165%;
}
h4 {
	color: #993;
	font-weight: normal;
}
ul, li {
	margin: 0 12px;
}
p {
	margin: 0 0 1em 0;
}

a {
				color: #FFFFFF;
}

#header {
				height: 100px;
}

.textalign_left {
				text-align: left;
}

.logo_container {
				background-size: 250px 75px;
				background-position: top center;
				background-repeat: no-repeat;
				text-indent: -9999px;
				outline: 0;
				overflow: hidden;
				padding-bottom: 15px;
				display: block;
				width: 250px;
				height: 60px;
				margin: auto;
				background-image: url(/img/citizenshare_logo.png);
}

.logo_container {
				background-image: url(/img/citizenshare_logo_white.png);
}

.marginbottom5 {
				margin-bottom: 5px;
}

.marginbottom20 {
				margin-bottom: 20px;
}

.margintop20 {
				margin-top: 20px;
}

.paddingleft16 {
				padding-left: 16px;
}

.fontsize12 {
				font-size: 12px;
}

ul.menu {
				float: right;
				display: inline-block;
				*display: inline;
				zoom: 1;
				padding-right: 100px;
				padding-left: 20px;
}

ul.menu li {
				list-style:  none;
				float: left;
				margin-left: 5px;
				margin-right: 5px;
				background: #EAC2B3;
				padding: 15px;
				border-radius: 0 0 5px 5px;
}

ul.menu li a {
				color: #C95049;
}

ul.menu li:hover, ul.menu li.active {
				background: #FFFFFF;
}

ul.menu li a:hover {
				text-decoration: none;
}

/** Forms **/
label {
				font-size: 12px;
				letter-spacing: 1px;
}

label {
				color: #FFFFFF;
}

.form {
				margin: auto;
				width: 430px;
				height: 300px;
				display: block;
				text-align: center;
}

input[type=text], input[type=password], input[type=submit] {
				border-radius: 5px;
				width: 400px;
				border: none;
				font-size: 12px;
				margin-top: 5px;
				margin-bottom: 5px;
				height: 30px;
}

input[type=text], input[type=password] {
				padding-left: 10px;
				padding-right: 10px;
				width: 380px;
}

input[type=checkbox] {
				width: 20px;
}

input[type=submit] {
				color: #FFFFFF;
}

::-webkit-input-placeholder {
   color: #C3363A;
			text-align: center
}

:-moz-placeholder { /* Firefox 18- */
   color: #C3363A;  
			text-align: center
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #C3363A;  
			text-align: center
}

:-ms-input-placeholder {  
   color: #C3363A;  
			text-align: center
}

input[type=submit] {
				background: #EAC2B3;
				color: #C3363A;
				font-weight: bold;
}

input[type=submit]:hover {
				background: #C3363A;
				color: #FFFFFF;
				font-weight: bold;
}

input {
				background: #E0A18D;
}

/** Notices and Errors **/
.message {
	clear: both;
	color: #fff;
	font-size: 120%;
	font-weight: bold;
	margin: 0 0 1em 0;
	padding: 5px;
}

.success,
.message,
.cake-error,
.cake-debug,
.notice,
p.error,
.error-message {
	background: #ffcc00;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -ms-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#E6B800));
	background-image: -webkit-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -o-linear-gradient(top, #ffcc00, #E6B800);
	background-image: linear-gradient(top, #ffcc00, #E6B800);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin-bottom: 18px;
	padding: 7px 14px;
	color: #404040;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}
.success,
.message,
.cake-error,
p.error,
.error-message {
	clear: both;
	color: #fff;
	background: #c43c35;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
	background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: linear-gradient(top, #ee5f5b, #c43c35);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.success {
	clear: both;
	color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background: #3B8230;
	background-repeat: repeat-x;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
	background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -ms-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -o-linear-gradient(top, #76BF6B, #3B8230);
	background-image: linear-gradient(top, #76BF6B, #3B8230);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
p.error {
	font-family: Monaco, Consolas, Courier, monospace;
	font-size: 120%;
	padding: 0.8em;
	margin: 1em 0;
}
p.error em {
	font-weight: normal;
	line-height: 140%;
}
.notice {
	color: #000;
	display: block;
	font-size: 120%;
	padding: 0.8em;
	margin: 1em 0;
}
.success {
	color: #fff;
}
